# API Configuration
VITE_API_BASE_URL=http://localhost:3000/api

# Grafana Configuration
VITE_GRAFANA_URL=http://localhost/grafana/

# Keycloak Configuration
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=infra-admin
VITE_KEYCLOAK_CLIENT_ID=ai-front-spa
VITE_KEYCLOAK_MIN_VALIDITY=70
VITE_KEYCLOAK_DEBUG=false
VITE_KEYCLOAK_CHECK_INTERVAL=60
